* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: rgb(36, 35, 35);
  padding: 10px;
  color: white;
  font-family: sans-serif;
}

.container {
  width: 350px;
  height: 98vh;
  background-color: black;
  border-radius: 5px;
  margin: 0 auto;
}

.profile-image {
  width: 100%;
  background-repeat: no-repeat;
  height: 45vh;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.header--content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.header--button {
  display: flex;
  gap: 15px;
  justify-content: center;
}

h1 {
  font-weight: 100;
}

h3 {
  color: rgb(155, 132, 6);
}

.header--email {
  font-size: small;
  color: grey;
}

.icon {
  width: 15px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 3px;
  border: none;
}

.button-2 {
  background-color: rgb(48, 121, 210);
  color: white;
}

.icon-linkedin {
  filter: invert(1);
}
